*.suo
*.csproj.user
*.sublime-project
*.sublime-workspace
*.DS_STORE
*.sln.ide
node_modules/
packages
packages/
bin/
obj/
octo/
*.DotSettings.user
build
*.diff
*.patch
TestResults/
*.orig
.vs/
desktop.ini
user.app.config
*.yml

.vs/config/applicationhost.config
.vs/TestApp_MVC/v15/.suo
.vs/TestApp_MVC/v15/Server/sqlite3/storage.ide-shm
.vs/TestApp_MVC/v15/Server/sqlite3/storage.ide-wal
TestApp_MVC/bin/Antlr3.Runtime.pdb
TestApp_MVC/bin/Newtonsoft.Json.xml
TestApp_MVC/bin/roslyn/csc.exe
TestApp_MVC/bin/roslyn/csc.exe.config
TestApp_MVC/bin/roslyn/csc.rsp
TestApp_MVC/bin/roslyn/csi.exe
TestApp_MVC/bin/roslyn/csi.exe.config
TestApp_MVC/bin/roslyn/csi.rsp
TestApp_MVC/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
TestApp_MVC/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
TestApp_MVC/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
TestApp_MVC/bin/roslyn/Microsoft.CodeAnalysis.dll
TestApp_MVC/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
TestApp_MVC/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
TestApp_MVC/bin/roslyn/Microsoft.CSharp.Core.targets
TestApp_MVC/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
TestApp_MVC/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
TestApp_MVC/bin/roslyn/Microsoft.Managed.Core.targets
TestApp_MVC/bin/roslyn/Microsoft.VisualBasic.Core.targets
TestApp_MVC/bin/roslyn/System.AppContext.dll
TestApp_MVC/bin/roslyn/System.Collections.Immutable.dll
TestApp_MVC/bin/roslyn/System.Console.dll
TestApp_MVC/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
TestApp_MVC/bin/roslyn/System.Diagnostics.StackTrace.dll
TestApp_MVC/bin/roslyn/System.IO.Compression.dll
TestApp_MVC/bin/roslyn/System.IO.FileSystem.dll
TestApp_MVC/bin/roslyn/System.IO.FileSystem.Primitives.dll
TestApp_MVC/bin/roslyn/System.IO.Pipes.AccessControl.dll
TestApp_MVC/bin/roslyn/System.IO.Pipes.dll
TestApp_MVC/bin/roslyn/System.Reflection.Metadata.dll
TestApp_MVC/bin/roslyn/System.Security.AccessControl.dll
TestApp_MVC/bin/roslyn/System.Security.Claims.dll
TestApp_MVC/bin/roslyn/System.Security.Cryptography.Algorithms.dll
TestApp_MVC/bin/roslyn/System.Security.Cryptography.Encoding.dll
TestApp_MVC/bin/roslyn/System.Security.Cryptography.Primitives.dll
TestApp_MVC/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
TestApp_MVC/bin/roslyn/System.Security.Principal.Windows.dll
TestApp_MVC/bin/roslyn/System.Text.Encoding.CodePages.dll
TestApp_MVC/bin/roslyn/System.ValueTuple.dll
TestApp_MVC/bin/roslyn/System.Xml.ReaderWriter.dll
TestApp_MVC/bin/roslyn/System.Xml.XmlDocument.dll
TestApp_MVC/bin/roslyn/System.Xml.XPath.dll
TestApp_MVC/bin/roslyn/System.Xml.XPath.XDocument.dll
TestApp_MVC/bin/roslyn/vbc.exe
TestApp_MVC/bin/roslyn/vbc.exe.config
TestApp_MVC/bin/roslyn/vbc.rsp
TestApp_MVC/bin/roslyn/VBCSCompiler.exe
TestApp_MVC/bin/roslyn/VBCSCompiler.exe.config
TestApp_MVC/bin/System.Web.Helpers.xml
TestApp_MVC/bin/System.Web.Mvc.xml
TestApp_MVC/bin/System.Web.Optimization.xml
TestApp_MVC/bin/System.Web.Razor.xml
TestApp_MVC/bin/System.Web.WebPages.Deployment.xml
TestApp_MVC/bin/System.Web.WebPages.Razor.xml
TestApp_MVC/bin/System.Web.WebPages.xml
TestApp_MVC/bin/TestApp_MVC.dll
TestApp_MVC/bin/TestApp_MVC.dll.config
TestApp_MVC/bin/TestApp_MVC.pdb
TestApp_MVC/obj/Debug/build.force
TestApp_MVC/obj/Debug/TestApp_MVC.csproj.CopyComplete
TestApp_MVC/obj/Debug/TestApp_MVC.csproj.CoreCompileInputs.cache
TestApp_MVC/obj/Debug/TestApp_MVC.csproj.FileListAbsolute.txt
TestApp_MVC/obj/Debug/TestApp_MVC.csprojAssemblyReference.cache
TestApp_MVC/obj/Debug/TestApp_MVC.dll
TestApp_MVC/obj/Debug/TestApp_MVC.pdb
.vs/config/applicationhost.config
.vs/TestApp_MVC/v15/Server/sqlite3/storage.ide
.vs/TestApp_MVC/v15/Server/sqlite3/storage.ide-shm
.vs/TestApp_MVC/v15/Server/sqlite3/storage.ide-wal
packages/Microsoft.AspNet.Mvc.5.2.4/Content/Web.config.install.xdt
packages/Microsoft.AspNet.Mvc.5.2.4/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.Mvc.5.2.4/lib/net45/System.Web.Mvc.dll
packages/Microsoft.AspNet.Mvc.5.2.4/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Mvc.5.2.4/Microsoft.AspNet.Mvc.5.2.4.nupkg
packages/Microsoft.AspNet.Razor.3.2.4/lib/net45/System.Web.Razor.dll
packages/Microsoft.AspNet.Razor.3.2.4/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Razor.3.2.4/Microsoft.AspNet.Razor.3.2.4.nupkg
packages/Microsoft.AspNet.WebPages.3.2.4/Content/Web.config.install.xdt
packages/Microsoft.AspNet.WebPages.3.2.4/Content/Web.config.uninstall.xdt
packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/System.Web.Helpers.dll
packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/System.Web.WebPages.Deployment.dll
packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/System.Web.WebPages.dll
packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/System.Web.WebPages.Razor.dll
packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.2.4/lib/net45/System.Web.WebPages.xml
packages/Microsoft.AspNet.WebPages.3.2.4/Microsoft.AspNet.WebPages.3.2.4.nupkg
